/* Site Stylesheet
1. Global Styles
2. Typography Styles
3. Structure Styles
4. Module Styles
5. Component Styles
*/

/* 1. Global Styles */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
}

body {
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* 2. Typography Styles */

/* 3. Structure styles */

/* 4. Module Styles */

/*Site navigation*/

header {
  background-color: black;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

li {
  display: inline;
  text-decoration: underline;
  margin: 0 10px;
}

main {
  padding-top: 69px;
}

#mission {
  background-image: url("../Images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
}

.missionheader {
  background-color: black;
  width: 100%;
  text-align: center;
}

#featured {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.tea-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.item img {
  height: 200px;
  width: 300px;
}

.item h4 {
  margin-top: 10px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

#locations h2 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 25px;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.address {
  background-color: black;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 300px;
}

.address h4,
.address h3 {
  margin: auto;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 15px auto;
  line-height: 50%;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
